<?xml version="1.0"?>
<config>
	<id>widget x-travel_2_posts_with_image_right</id>
	<type>widget</type>
	<category>
		<main>post</main>
		<sub>latest</sub>
	</category>
	<name>
		<en>Post Latest With Images</en>
		<ko>Post Latest With Images</ko>
	</name>
	<version>0.1</version>
	<author>JaeHo Song</author>
	<email>thruthesky@gmail.com</email>
	<homepage>http://jaehosong.com</homepage>
	<demo>http://philgo.net</demo>
	<short>
		<en>Displays latest post with an image and subject.</en>
		<ko>Displays latest post with an image and subject.</ko>
	</short>
	<detail>
		<en>Displays latest post with an image and subject.</en>
		<ko>Displays latest post with an image and subject.</ko>
	</detail>
</config>
